@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-inter: "Inter", "sans-serif";
  --color-primary: #ff602c;
  --color-background: #1d1d1d;
  --color-navbg: rgba(89, 86, 86, 0.29);
  --color-cardbg: rgba(89, 86, 86, 0.4);
}
